	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude toward institute - Police",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "Somewhat satisfied",
						"value": "26.9"
					},
					{
						"label": "Highly dissatisfied",
						"value": "20.7"
					},
					{
						"label": "Somewhat dissatisfied",
						"value": "17.1"
					},
					{
						"label": "Neither satisfied nor dissatisfied",
						"value": "7.5"
					},
					{
						"label": "Refused",
						"value": "0.3"
					},
					{
						"label": "Can\u0092t say\/ Don't know",
						"value": "0.3"
					},
					{
						"label": "Never heard",
						"value": "0.1"
					}
				]
			};
	}

	</script>
