	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude toward - Begum Khaleda Zia",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "Like a little",
						"value": "24.4"
					},
					{
						"label": "Neither like nor dislike",
						"value": "11.5"
					},
					{
						"label": "Dislike a little",
						"value": "10"
					},
					{
						"label": "Dislike   a lot",
						"value": "13.7"
					},
					{
						"label": "Refused",
						"value": "1.3"
					},
					{
						"label": "Can\u0092t say\/Don't know",
						"value": "0.6"
					}
				]
			};
	}

	</script>
