	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude toward institute - National Parliament",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{ "label": "Somewhat satisfied", "value": "25.3" },
					{ "label": "Neither satisfied nor dissatisfied", "value": "8.2" },
					{ "label": "Highly dissatisfied", "value": "7.1" },
					{ "label": "Somewhat dissatisfied", "value": "4.8" },
					{ "label": "Can\u0092t say\/ Don't know", "value": "3.8" },
					{ "label": "Never heard", "value": "3.2" },
					{ "label": "Refused", "value": "0.2" }
				]
			};
	}
	</script>
