	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude towards - Sajeeb Wazed Joy",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Like a little", 
        "value": "21.2"
    }, 
    {
        "label": "Neither like nor dislike", 
        "value": "15.3"
    }, 
    {
        "label": "Dislike a little", 
        "value": "9.4"
    }, 
    {
        "label": "Dislike   a lot", 
        "value": "11.4"
    }, 
    {
        "label": "Never heard", 
        "value": "20.9"
    }, 
    {
        "label": "Refused", 
        "value": "0.5"
    }, 
    {
        "label": "Can't say/Don't know", 
        "value": "1.7"
    }
]
			};
	}
	</script>
