	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Economic situation compared to the same five years back",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Worse off", 
        "value": "32"
    }, 
    {
        "label": "Stayed the same", 
        "value": "18"
    }, 
    {
        "label": "Refused", 
        "value": "0"
    }, 
    {
        "label": "Don't Know/Can't Say", 
        "value": "0"
    }
]
			};
	}
	</script>
