
	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Economy under current government",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "Worse off",
						"value": "28"
					},
					{
						"label": "Stayed the same",
						"value": "15"
					},
					{
						"label": "Refused",
						"value": "1"
					},
					{
						"label": "Don\u0092t Know\/Can\u0092t Say",
						"value": "1"
					}
				]
			};
	}

	</script>
