	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "q7c.Performance - Ziauddin Ahmed Bablu as JP Secretary General",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Somewhat good", 
        "value": "14.2"
    }, 
    {
        "label": "Neither good nor poor", 
        "value": "20.5"
    }, 
    {
        "label": "Somewhat poor", 
        "value": "10.9"
    }, 
    {
        "label": "Very poor", 
        "value": "7.7"
    }, 
    {
        "label": "Never heard", 
        "value": "36.9"
    }, 
    {
        "label": "Refused", 
        "value": "0.7"
    }, 
    {
        "label": "Can't say/ Don't Know", 
        "value": "5.1"
    }
]
			};
	}
	</script>
