	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "q7i.Performance - HM Ershad as JP President",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Somewhat good", 
        "value": "30"
    }, 
    {
        "label": "Neither good nor poor", 
        "value": "20.8"
    }, 
    {
        "label": "Somewhat poor", 
        "value": "16.1"
    }, 
    {
        "label": "Very poor", 
        "value": "13.6"
    }, 
    {
        "label": "Never heard", 
        "value": "3.7"
    }, 
    {
        "label": "Refused", 
        "value": "0.4"
    }, 
    {
        "label": "Can't say/ Don't Know", 
        "value": "1.8"
    }
]
			};
	}
	</script>
