<div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                       <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Latest Survey<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="condition.html">Are you better off than you were five years ago</a>
								</li>
                                <li><a href="#">Example 2</a></li>
                                <li><a href="#">Example 3</a></li>
                                <li><a href="#">Example 4</a></li>
                                <li><a href="#">Example 5</a></li>
                                <li><a href="#">Example 6</a></li>
                            </ul>
                        </li>

                        <li><a href="#"><i class="fa fa-line-chart fa-fw"></i> Longitudinal Trends<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="rightwrong.html">Right or Wrong Direction</a></li>
                                <li><a href="reasonsright.html">Reasons for Right Direction</a></li>
                                <li><a href="reasonswrong.html">Reasons for Wrong Direction</a></li>
                                <li><a href="mainproblems.html">Problems Facing Bangladesh</a></li>
                                <li><a href="partyleaders.html">Perceptions of Political Leaders</a></li>
                                <li><a href="voterpreference.html">Vote if Elections Were Today</a></li>
                                <li><a href="econsituation.html">Economic Situation</a></li>
                            </ul>
                        </li>
            </ul>
        </div>
    </div>
