<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
		   <li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Latest Survey<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Survey Questions<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="responsible_party_violence.html">In your opinion, which political party is most responsible for the current violence in Bangladesh?</a></li>
							<li><a href="likely_to_vote_bnp.html">If BNP backs down from calling hartals and blockade, would you be more or less likely to vote for BNP in the next election?</a></li>
							<li><a href="likely_to_vote_al.html">If AL agrees to enter a dialogue to stop the violence with BNP and compromises, would you be more or less likely to vote for AL in the next election?</a></li>
							<li><a href="next_national_election.html">In your opinion, in which year should the next national election take place?</a></li>
							<li><a href="fair_mediator.html">I am going to read you a list of potential mediators. Please tell me which would be your first choice as a fair mediator to help end the current political crisis.</a></li>
							<li><a href="express_opinion.html">Do most people in the area where you live feel free to express their opinions about the current political situation or not?</a></li>
							<li><a href="future_bangladesh.html">Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Cross tabs<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="responsible_for_violence_by_division.html">In your opinion, which political party is most responsible for the current violence in Bangladesh? Division wise       </a></li>
							<li><a href="feel_free_to_by_area.html">Do most people in the area where you live feel free to express their opinions about the current political situation or not?       </a></li>
							<li><a href="future_bangladesh_by_division.html">Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?       </a></li>
							<li><a href="future_bangladesh_by_area.html">Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?       </a></li>
						</ul>
					</li>

				</ul>
			</li>

			<li><a href="#"><i class="fa fa-line-chart fa-fw"></i> Longitudinal Trends<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="dec_14_direction_f2f.html">Do you think things in Bangladesh are headed in the right direction, or are they headed in the wrong direction? (F2F) </a></li>
					<li><a href="dec_14_direction_catss.html">Do you think things in Bangladesh are headed in the right direction, or are they headed in the wrong direction? (CATSS) </a></li>
					<li><a href="dec_14_vote_election_today_f2f.html">If the election were held today  which party would you likely vote for? (F2F) </a></li>
					<li><a href="dec_14_vote_election_today_catss.html">If the election were held today  which party would you likely vote for? (CATSS) </a></li>
				</ul>
			</li>

			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> Feb 15<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="feb_15_statement_bnp_demand.html">Statement on BNP Blockade</a></li>
					<li><a href="feb_15_statement_bnp_demand_met.html">What do you think BNP can do to have their demands met?</a></li>
					<li><a href="feb_15_govt_stop_violence.html">What do you think the government should do to stop violence?</a></li>
					<li><a href="feb_15_violence_in_protests.html">Use of violence in political protests?</a></li>
					<li><a href="feb_15_law_for_hartal.html">Law should be enacted to restrict hartal?</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> Dec 14<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Attitude towards<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_attitude_national_parliament_divisionwise.html">National Parliament</a></li>
							<li><a href="dec_14_attitude_police_divisionwise.html">Police</a></li>
							<li><a href="dec_14_attitude_election_commision_divisionwise.html">Bangladesh Election Commission</a></li>
							<li><a href="dec_14_attitude_supreme_court_divisionwise.html">Supreme Court of Bangladesh</a></li>
							<li><a href="dec_14_attitude_rab_divisionwise.html">Rapid Action Battalion (RAB)</a></li>
							<li><a href="dec_14_attitude_acc_divisionwise.html">Anti Corruption Commission</a></li>
							<li><a href="dec_14_attitude_military_divisionwise.html">Bangladesh Military</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Performance<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_performance_khaleda_zia.html">Begum Khaleda Zia as BNP Chairperson</a></li>
							<li><a href="dec_14_performance_ziauddin_ahmed.html">Ziauddin Ahmed Bablu as JP Secretary General</a></li>
							<li><a href="dec_14_performance_sheikh_hasina.html">Sheikh Hasina as Prime Minister</a></li>
							<li><a href="dec_14_performance_mirza_fakhrul.html">Mirza Fakhrul Alamgir as BNP Secretary General</a></li>
							<li><a href="dec_14_performance_sheikh_hasina_as_pres.html">Sheikh Hasina as President of Bangladesh Awami League</a></li>
							<li><a href="dec_14_performance_hm_ershad_as_pres.html">HM Ershad as JP President</a></li>
							<li><a href="dec_14_performance_syad_asraful_islam.html">Syed Asraful Islam as AL General Secretary</a></li>
							<li><a href="Performance_-_Begum_Rowshan_Ershad_as_Leader_of_Opposition_party.html">Begum Rowshan Ershad as Leader of Opposition party</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Cross tabs<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_crosstab_election_likey_vote_areawise.html">By area - If the election were held today which party would you likely vote for?</a></li>
							<li><a href="dec_14_crosstab_election_likey_vote_genderwise.html">By gender - If the election were held today which party would you likely vote for?</a></li>
							<li><a href="dec_14_crosstab_election_likey_vote_byagegroup.html">By age group - If the election were held today which party would you likely vote for?</a></li>
							<li><a href="dec_14_crosstab_credibility_divisionwise.html">By Division - Credibility of current government</a></li>
							<li><a href="dec_14_crosstab_statement_jan_5.html">By Division - Statement closer to your own opinion on Jan 5 Election</a></li>
							<li><a href="dec_14_crosstab_statement_bnp_boycott.html">By Division - Statement closer to your own opinion on BNP boycotting Jan 5 Election</a></li>
							<li><a href="dec_14_economic_situation_before_divisionwise.html">Economic situation compared to the same five years back</a></li>
							<li><a href="dec_14_economic_situation_now_divisionwise.html">Economy under current government</a></li>
							<li><a href="dec_14_economic_situation_now_areawise.html">Economy under current government</a></li>
							<li><a href="dec_14_economic_situation_now_genderwise.html">Economy under current government</a></li>
							<li><a href="dec_14_highest_potential.html">What is the highest potential for Bangladesh?</a></li>
							<li><a href="dec_14_highest_potential_area_wise.html">What is the highest potential for Bangladesh? (Area Wise) </a></li>
							<li><a href="dec_14_highest_potential_division_wise.html">What is the highest potential for Bangladesh? (Division Wise) </a></li>
							<li><a href="dec_14_main_problem.html">What is the main problem for Bangladesh? </a></li>
							<li><a href="dec_14_main_problem_division_wise.html">What is the main problem for Bangladesh? (Division Wise) </a></li>
							<li><a href="dec_14_main_problem_area_wise.html">What is the main problem for Bangladesh? (Area Wise) </a></li>
						</ul>
					</li>
				</ul>
			</li>
            </ul>
        </div>
    </div>
