<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
		   <li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Latest Survey<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Questions<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="mar_15_responsible_party_violence.html">In your opinion, which political party is most responsible for the current violence in Bangladesh?</a></li>
							<li><a href="mar_15_likely_to_vote_bnp.html">If BNP backs down from calling hartals and blockade, would you be more or less likely to vote for BNP in the next election?</a></li>
							<li><a href="mar_15_likely_to_vote_al.html">If AL agrees to enter a dialogue to stop the violence with BNP and compromises, would you be more or less likely to vote for AL in the next election?</a></li>
							<li><a href="mar_15_next_national_election.html">In your opinion, in which year should the next national election take place?</a></li>
							<li><a href="mar_15_fair_mediator.html">I am going to read you a list of potential mediators. Please tell me which would be your first choice as a fair mediator to help end the current political crisis.</a></li>
							<li><a href="mar_15_express_opinion.html">Do most people in the area where you live feel free to express their opinions about the current political situation or not?</a></li>
							<li><a href="mar_15_future_bangladesh.html">Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Cross Tabs<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="mar_15_ct_responsible_for_violence_by_division.html">By Division - In your opinion, which political party is most responsible for the current violence in Bangladesh?</a></li>
							<li><a href="mar_15_ct_feel_free_to_by_area.html">By Area - Do most people in the area where you live feel free to express their opinions about the current political situation or not?</a></li>
							<li><a href="mar_15_ct_future_bangladesh_by_division.html">By Division - Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?</a></li>
							<li><a href="mar_15_ct_future_bangladesh_by_area.html">By area - Would you say that you are mostly OPTIMISTIC or PESSIMISTIC about the future of Bangladesh?</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> Longitudinal Trends<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="dec_14_ct_dec_14_direction_f2f.html">Do you think things in Bangladesh are headed in the right direction, or are they headed in the wrong direction? (F2F) </a></li>
					<li><a href="dec_14_ct_dec_14_vote_election_today_f2f.html">If the election were held today  which party would you likely vote for? (F2F) </a></li>
					<li><a href="dec_14_ct_dec_14_direction_catss.html">Do you think things in Bangladesh are headed in the right direction, or are they headed in the wrong direction? (CATSS) </a></li>
					<li><a href="dec_14_ct_dec_14_vote_election_today_catss.html">If the election were held today  which party would you likely vote for? (CATSS) </a></li>
				</ul>
			</li>

			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> Feb 15<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="feb_15_feb_15_statement_bnp_demand.html">I'm going to read you two statements. After I read each one, please tell me which one is closer to your own opinion</a></li>
					<li><a href="feb_15_feb_15_statement_bnp_demand_met.html">What do you think BNP can do to have their demands met?</a></li>
					<li><a href="feb_15_feb_15_govt_stop_violence.html">What do you think the government should do to stop violence?</a></li>
					<li><a href="feb_15_feb_15_violence_in_protests.html">Do you support or oppose the use of violence in political protests?</a></li>
					<li><a href="feb_15_feb_15_law_for_hartal.html">Please tell me if you strongly agree, somewhat agree, somewhat disagree or strongly disagree with the following statement: ?Law should be enacted to restrict hartal?</a></li>
				</ul>
			</li>


			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> Dec 14<span class="fa fa-caret-left"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Attitude towards Institutions<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_attitude_bangladesh_military.html">Bangladesh Military</a></li>
							<li><a href="dec_14_attitude_rab.html">Rapid Action Battalion (RAB)</a></li>
							<li><a href="dec_14_attitude_national_parliament.html">National Parliament</a></li>
							<li><a href="dec_14_attitude_supreme_court.html">Supreme Court of Bangladesh</a></li>
							<li><a href="dec_14_attitude_anti_cc.html">Anti Corruption Commission</a></li>
							<li><a href="dec_14_attitude_bangladesh_ec.html">Bangladesh Election Commission</a></li>
							<li><a href="dec_14_attitude_police.html">Police</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Economy<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_economic_situation_past.html">Economic situation compared to the same five years back</a></li>
							<li><a href="dec_14_economic_situation_current.html">Economy under current government</a></li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Attitude towards Personalities<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_attitude_towards_-_sheikh_hasina.html">Sheikh Hasina</a></li>
							<li><a href="dec_14_attitude_towards_-_begum_khaleda_zia.html">Begum Khaleda Zia</a></li>
							<li><a href="dec_14_attitude_towards_-_sajeeb_wazed_joy.html">Sajeeb Wazed Joy</a></li>
							<li><a href="dec_14_attitude_towards_-_begum_rowshan_ershad.html">Begum Rowshan Ershad</a></li>
							<li><a href="dec_14_attitude_towards_-_syed_ashraful_islam.html">Syed Ashraful Islam</a></li>
							<li><a href="dec_14_attitude_towards_-_hm_ershad.html">HM Ershad</a></li>
							<li><a href="dec_14__attitude_towards_-_mirza_fakhrul_islam_alamgir.html">Mirza Fakhrul Islam Alamgir</a></li>
							<li><a href="dec_14_attitude_towards_-_tareque_zia.html">Tareque Zia</a></li>
							<li><a href="dec_14_attitude_towards_-_ziauddin_ahmed_bablu.html">Ziauddin Ahmed Bablu</a></li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Performance<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_performance_-_shekikh_hasina_as_prime_minister.html">Shekikh Hasina as Prime Minister</a></li>
							<li><a href="dec_14_performance_-_begum_khaleda_zia_as_bnp_chairperson.html">Begum Khaleda Zia as BNP Chairperson</a></li>
							<li><a href="dec_14_performance_-_mirza_fakhrul_alamgir_as_bnp_secretary_general.html">Mirza Fakhrul Alamgir as BNP Secretary General</a></li>
							<li><a href="dec_14_performance_-_hm_ershad_as_jp_president.html">HM Ershad as JP President</a></li>
							<li><a href="dec_14_performance_-_syed_asraful_islam_as_al_general_secretary.html">Syed Asraful Islam as AL General Secretary</a></li>
							<li><a href="dec_14_performance_-_begum_rowshan_ershad_as_leader_of_opposition_party.html">Begum Rowshan Ershad as Leader of Opposition party</a></li>
							<li><a href="dec_14_performance_-_ziauddin_ahmed_bablu_as_jp_secretary_general.html">Ziauddin Ahmed Bablu as JP Secretary General</a></li>
							<li><a href="dec_14_performance_-_al_as_ruling_party.html">AL as ruling party</a></li>
							<li><a href="dec_14_performance_-_bnp_as_political_party.html">BNP as political party</a></li>
							<li><a href="dec_14_performance_-_jp_as_opposition_in_parliament.html">JP as opposition in Parliament</a></li>
						</ul>
					</li>


					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Party Focus and priorities<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_the_most_important_issue_that_political_parties_and_leaders_should_focus_on.html">The most important issue that political parties and leaders should focus on</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_improvement_of_electricity_supply.html">Political party that can accomplish - Improvement of electricity supply</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_improving_roads_and_transportation.html">Political party that can accomplish - Improving roads and transportation</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_education_system_improvement.html">Political party that can accomplish - Education system improvement</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_health_sector_improvement.html">Political party that can accomplish - Health sector improvement</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_poverty_reduction.html">Political party that can accomplish - Poverty reduction</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_curb_terrorism.html">Political party that can accomplish - Curb terrorism</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_rural_development.html">Political party that can accomplish - Rural development</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_local_job_creation.html">Political party that can accomplish - Local job creation</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_increase_overseas_job.html">Political party that can accomplish - Increase overseas job</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_price_controlling_of_essential_commodities.html">Political party that can accomplish - Price controlling of essential commodities</a></li>
							<li><a href="dec_14_political_party_that_can_accomplish_-_improvement_of_law_and_order_situation.html">Political party that can accomplish - Improvement of law and order situation</a></li>
						</ul>
					</li>


					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Election and Credibility<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_today_vote_for.html">If the election were held today, which party would you likely vote for?</a></li>
							<li><a href="dec_14_credibility_of_current_government.html">Credibility of current government</a></li>
							<li><a href="dec_14_statement_on_jan5_election.html">Statement on Jan 5 Election</a></li>
							<li><a href="dec_14_statement_on_bnp_election_boycott.html">Statement on BNP boycotting Jan 5 Election</a></li>
						</ul>
					</li>


					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Other<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_ct_highest_potential.html">What is the highest potential for Bangladesh?</a></li>
							<li><a href="dec_14_ct_main_problem.html">What is the main problem for Bangladesh? </a></li>
							<li><a href="dec_14_women_involvement_politics.html">Importance of women's involvement in politics</a></li>
							<li><a href="dec_14_women_leadership.html">Importance women in party leadership position</a></li>
							<li><a href="dec_14_which_party_better_woman_leadership.html">Which political party is doing the best in involving women in party leadership position?</a></li>
							<li><a href="dec_14_importance_of_youth_involvement_in_politics.html">Importance of youth involvement in politics</a></li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-line-chart fa-fw"></i> Cross tabs<span class="fa fa-caret-left"></span></a>
						<ul class="nav nav-third-level">
							<li><a href="dec_14_ct_highest_potential_area_wise.html">By area - What is the highest potential for Bangladesh?</a></li>
							<li><a href="dec_14_ct_highest_potential_division_wise.html">By division - What is the highest potential for Bangladesh?</a></li>
							<li><a href="dec_14_ct_main_problem_division_wise.html">By division - What is the main problem for Bangladesh?</a></li>
							<li><a href="dec_14_ct_main_problem_area_wise.html">By area - What is the main problem for Bangladesh?</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

