	<div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" id="page-header">
						<strong></strong>
					</h1>
					<h3></h3>
                </div>
            </div>
			<div id="chart"></div>
			<div id="menu-wrapper">
				<div id="menu-canvas">
					<div id="site-menu">
						<h4></h4>
						<p></p>
					</div>
					<a class="toggle-nav btn btn-sm btn-primary">
						<i class="fa fa-info"></i>
					</a>
					<a class="toggle-nav"></a>
				</div>
		   </div>
		</div>
	</div>

	<!--
<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "",
						"value": ""
					},
				]
			};
	}
</script>
	-->
