	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude toward institute - Rapid Action Battalion (RAB)",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "Somewhat satisfied",
						"value": "25.5"
					},
					{
						"label": "Neither satisfied nor dissatisfied",
						"value": "6.6"
					},
					{
						"label": "Somewhat dissatisfied",
						"value": "9.8"
					},
					{
						"label": "Highly dissatisfied",
						"value": "7.6"
					},
					{
						"label": "Never heard",
						"value": "0.5"
					},
					{
						"label": "Refused",
						"value": "0.2"
					},
					{
						"label": "Can\u0092t say\/ Don't know",
						"value": "0.7"
					}
				]
			};
	}

	</script>
