
	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "Attitude toward institute - Bangladesh Military",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values: [
					{
						"label": "Somewhat satisfied",
						"value": "19.7"
					},
					{
						"label": "Neither satisfied nor dissatisfied",
						"value": "3.2"
					},
					{
						"label": "Somewhat dissatisfied",
						"value": "1.8"
					},
					{
						"label": "Highly dissatisfied",
						"value": "1.5"
					},
					{
						"label": "Never heard",
						"value": "0.1"
					},
					{
						"label": "Refused",
						"value": "0.2"
					},
					{
						"label": "Can\u0092t say\/ Don't know",
						"value": "0.5"
					}

				]
			};
	}

	</script>
