<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An open platform for analyzing and visualizing Democracy International public opinion research findings in Bangladesh.">
    <meta name="mbaldassaro" content="">

    <meta property="og:image" content="http://mbaldassaro.github.io/banglabarometer/app/img/cover.png">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="768">
    <meta property="og:title" content="Bangladesh Survey Data">
    <meta property="og:description" content="An open platform for analyzing and visualizing Democracy International public opinion research findings in Bangladesh.">

    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="../app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../app/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="../app/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- build:css(app) /css/main.css -->
    <link rel="stylesheet" href="../app/css/main.css">
    <!-- Custom CSS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">   
    <!-- Main.JS  -->
    <script src="../app/css/main.js"></script>
    <!-- JQUERY -->
    <script src="../app/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../app/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Other Libraries -->

</head>