	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "q7g.Performance - Mirza Fakhrul Alamgir as BNP Secretary General",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Somewhat good", 
        "value": "27.9"
    }, 
    {
        "label": "Neither good nor poor", 
        "value": "15.2"
    }, 
    {
        "label": "Somewhat poor", 
        "value": "11.4"
    }, 
    {
        "label": "Very poor", 
        "value": "6.8"
    }, 
    {
        "label": "Never heard", 
        "value": "15.1"
    }, 
    {
        "label": "Refused", 
        "value": "0.4"
    }, 
    {
        "label": "Can't say/ Don't Know", 
        "value": "2"
    }
]
			};
	}
	</script>
