	<script>
		var page_graph_data = function() {
			return {
				type: 'Pie',
				key: "q7j.Performance - Syed Asraful Islam as AL General Secretary",
				info: "Dec 2014 / MoE : ±2.5% / No of participants: 1500",
				explanation: {
					heading: "Explain the graph",
					text: "We explain the graph here for your understanding"
				},
				container: '#chart',
				values:  [
    {
        "label": "Somewhat good", 
        "value": "19.3"
    }, 
    {
        "label": "Neither good nor poor", 
        "value": "16.6"
    }, 
    {
        "label": "Somewhat poor", 
        "value": "12.3"
    }, 
    {
        "label": "Very poor", 
        "value": "9.7"
    }, 
    {
        "label": "Never heard", 
        "value": "23.2"
    }, 
    {
        "label": "Refused", 
        "value": "1"
    }, 
    {
        "label": "Can't say/ Don't Know", 
        "value": "3.4"
    }
]
			};
	}
	</script>
